@page
@model SkansenCodeFirst.Pages.Produkty.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Indeks</h1>

<p>
    <a asp-page="Create">Dodaj Nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produkt[0].ProduktName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produkt[0].ProduktCena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produkt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProduktName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProduktCena)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProduktId">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.ProduktId">Detale</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProduktId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
